.nav{
  background-color: lightblue;
  width: 100%;
  display: block;
  padding: 2px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: lightgrey;
}
img{
  width: 100%;
  height:100%;
  margin: 0 auto;
  object-fit: cover;
}
.main{
  width: 100%;
  height: 450px;
  background-color: grey;
}
.row{
  display: flex;
  justify-content: space-between;
  
}
.navImg{
  width: 35px;
  height: 35px;
   object-fit: contain;
  overflow: hidden;
}
.card{
  width: 25%;
  height: 200px;
  margin: 10px;
  background-color: grey;
}
